.header {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: rgba(0, 0, 0, .6);
  padding: 30px 35px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 70px);
  transition: all .2s;
}

.scroll {
  padding: 10px 35px;
  background-color: #000;
  position: fixed;
  transition: all .1s;
}